:root {
    --primary-color: #061A40;
    --secondary-color: #0353A4;
    --tertiary-color: #006DAA;
    --button-color: #003559;
    --background-color: #B9D6F2;
}


#content {
    background-image: url(img/6325399.jpg);
    background-size: cover;
    /* background-color: #000; */
    background-color: rgba(0, 0, 0, 0.808);
}
.right-content {
    z-index: 999;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.first-row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.magasinCard-info {
    display:flex ;
    background-color: white;
    width: 427px;
    padding: 10px;
    height: 120px;

}
.magasi-info {
    width: 70%;
    /* background-color: rgb(111, 111, 111); */

}
.magasin-name, .magasin-city, .open-date{
    display: flex;
    gap: 10px;
    align-items: center;
    /* padding-top: 20px; */
    height: 35px;
}
.magasin-name p, .magasin-city p, .open-date p {
    color: #000000;
    padding-top: 10px;
}
.magasin-name h4, .magasin-city h4, .open-date h4 {
    color: #000000;
}
.add-btn {
    display: flex;
    align-items: end;
}
.btn-ajou {
    /* width: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    background-color: var(--button-color);
    cursor: pointer;
   
    height: 43px;
}
.btn-ajou p {
    color: white;
}
.cardLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.logoD {
    background-color:var(--primary-color) ;
    border-radius: 50%;
    width: 90%;
    height: 106%;
    display: flex;
    justify-content: center;
    align-items: center;

} 
.cardLogo .material-symbols-outlined {
    font-size: 90px;
    color: white;
    /* align-self: center; */
}
 /* table */
.table-div {
    margin-top: 100px;
}
#table {
    background-color: white;
    padding-left: 20px;
}
.actionMD {
    display: flex;
    gap: 20px;
}
.add , .delete {
    cursor: pointer;
}
.add {
    color: var(--tertiary-color);
}
.add:hover {
    color: #1f92d4;
}
.delete {
    color: #AA0000;
}
.delete:hover {
    color: red;
}

/* addModal */
#addModalBg, #updateModalBg {
    display: none;
    /* position: absolute; */
   
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.addModal, .updateModal {
    width: 272px;
    height: 378px;
    background-color: white;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.modalLogo {
   display: flex;
   justify-content: center;
}
.modalLogo img {
    width: 143px;
    height: 40px;
    object-fit: cover;
}
form {
    padding: 20px;
}
form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #17171796;
}
form input:focus {
    outline: none;
}
#submit-btn button{
    background-color: var(--button-color);
    color: white;
    width: 100%;
    height: 32px;
    border: none;
    cursor: pointer;

}
.closeBtnContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    height: 30px;
}
.custom-close {
    color: #aaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
  }
  
  .custom-close:hover,
  .custom-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* .custom-btn-container {
    margin-top: 20px;
  } */
  
  /* button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
  } */
