:root {
    --primary-color: #061A40;
    --secondary-color: #0353A4;
    --tertiary-color: #006DAA;
    --button-color: #003559;
    --background-color: #B9D6F2;
}

.right-content {
    z-index: 999;
}
/* .container {
    width: 90%;
    margin: 0 auto;
} */
.first-row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 45px;
}
.magasinCard-info {
    background-color: white;
    padding: 10px;
    /* height: 120px; */
    display: flex;
    gap: 20px;
    width: 90%;
}
/* .table-responsive {
    min-height: .01%;
    overflow-x: auto;
    max-height: 440px;
} */
.magasi-info {
    width: 70%;
}

.magasin-name, .magasin-city, .open-date {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 35px;
}

.magasin-name p, .magasin-city p, .open-date p {
    color: #000000;
    padding-top: 13px;
    font-size: 1.5rem;
}

.magasin-name h4, .magasin-city h4, .open-date h4 {
    color: #000000;
}

.add-btn {
    display: flex;
    align-items: start;
    justify-content: end;
    margin-top: 20px;

}

.btn-ajou {
    width: 170px;
    background-color: var(--button-color);
    cursor: pointer;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    margin-top: 62px;
}
@media screen and (max-width: 768px) {
    .btn-ajou {
       margin-top: 25px;
    }
}

.btn-ajou p {
    color: white;
    font-size: 1.5rem;
}

.cardLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.logoD {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLogo .material-symbols-outlined {
    font-size: 60px;
    color: white;
}

 /* table */
.table-div {
    margin-top: 90px;
}
#table {
    background-color: white;
    padding-left: 20px;
    font-size: 18px;
    /* overflow: scroll; */
}
#ddd {
    /* background-color: white; */
    min-height: .01%;
    overflow-y: auto;
    max-height: 440px;
}
.actionMD {
    display: flex;
    gap: 20px;
}
.add , .delete {
    cursor: pointer;
}
.add {
    color: var(--tertiary-color);
}
.add:hover {
    color: #1f92d4;
}
.delete {
    color: #AA0000;
}
.delete:hover {
    color: red;
}

/* addModal */
#addModalBg, #updateModalBg , #deleteModalBg{
    display: none;
    /* position: absolute; */
   
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.addModal, .updateModal {
    width: 28%;
    height: 72%;
    background-color: white;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}
.modalLogo {
   display: flex;
   justify-content: center;
}
.modalLogo img {
    width: 143px;
    height: 40px;
    object-fit: cover;
}
form {
    padding: 20px;
}
form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #17171796;
}
form input:focus {
    outline: none;
}
#submit-btn button{
    background-color: var(--button-color);
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;

}
.closeBtnContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    height: 30px;
}
.custom-close {
    color: #aaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
  }
  
  .custom-close:hover,
  .custom-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* .custom-btn-container {
    margin-top: 20px;
  } */
  
  /* button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
  } */
.deleteModal {
    width: 400px;
    height: 300px;
    background-color: white;
    text-align: center;                                                                                                                                                                                                                                                                                                                                                                                                           
}
.delcancBtn {
    display: flex;
    justify-content: space-between;
}
.deleteTitle,.deleteText, .delcancBtn {
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
}
.deleteTitle #title{
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}
.deleteText #text {
    font-size: 15px;
    color: #818181;
}
.delcancBtn .sup {
    background-color: var(--button-color);
    width: 110px;
    height: 35px;
    border: 2px solid var(--button-color);
    cursor: pointer;
}
.delcancBtn .canc {
    background-color: white;
    width: 110px;
    height: 35px;
    border: 2px solid var(--button-color);
    cursor: pointer;
}
.delcancBtn .canc p {
    color: var(--button-color); 
    font-size: 1.5rem;
    padding-top: 2px;
}
.delcancBtn .sup p {
    color: white;
    font-size: 1.5rem;
    padding-top: 2px;
}