@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
  --primary-color: #061A40;
  --secondary-color: #0353A4;
  --tertiary-color: #006DAA;
  --button-color: #003559;
  --background-color: #B9D6F2;
}

/*******Ajouter*********/
.container-ajouter {
  display: flex;
  flex-direction: column;

  margin-top: 3%;
}
/* body {
  background-image  : url(../img/633.jpg);
  background-size: cover;
  background-position: center;
  
} */
.content {
  background-color: rgb(0, 0, 0);
}

.btn-ajouter {
  padding: 7px 40px;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 0px;
  margin-top: 30px;
}

.titre-ajouter {
  margin-bottom: 60px;
  margin-top: 20px;
  align-self: center;
}

.v-img-card {
  height: 50%;
  padding-bottom: 6px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/6f80b6a5-41db-4465-abae-18e5526862f9.webp);
  background-size: cover;
}

.h-img-card {
  /* height: 30%; */
  padding-bottom: 6px;
  height: 100%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/6f80b6a5-41db-4465-abae-18e5526862f9.webp);
  background-size: cover;
}

input,
select {
  border-radius: 0px !important;
  border: 1px solid var(--button-color) !important;
}

/**********hreader ***********/
.all {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid-line {
  width: 50%;
  height: 1px;
  border-bottom: 1px solid var(--primary-color);
  margin-left: 35%;
  margin-top: 15px;
}

.header-grid {
  display: flex;
  justify-content: space-between;
}

.grid-view {
  display: flex;
  justify-content: end;
}

.icon-grid {
  margin-bottom: 30px;
}

.title-card {
  text-align: center;
  margin: 5px;
  margin-bottom: 50px;
}

/************hedear ********/
.title-card p {
  color: rgb(75, 74, 74);
  font-size: 12px;
}

/****** v-cards ****/

#cards-icon {
  display: flex;

  align-items: center;
  justify-content: center;
  font-size: 3rem !important;
  color: #b9d6f2;
  background-color: #003559;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 15px;
}

/******* h-cards******/
.grid-symbol {
  border-radius: 3px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  padding: 2px;
  background-color: white;
}



.grid-symbol-2 {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid var(--primary-color);
  margin-left: 5px;
  padding: 2px;
}

/*******************test card*************/
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  width: 100%;
  gap: 60px;

}

.v-card {
  width: calc(23% - 30px);
  /* Adjust the width to show 4 cards per row */
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 250px;
  /**************/
  align-items: center;
  justify-content: center;
  border-radius: 0%;
}

.v-card-content {
  padding: 15px;
  text-align: center;
}

.v-card-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
  align-items: center;
  margin-top: 0px;

}

.v-card-text {
  font-size: 1.2rem;
  margin-bottom: 5px;
  text-align: center;
}

#icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 3rem !important;
  color: #b9d6f2;
  background-color: #003559;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 15px;
}

.v-p-card {
  margin-bottom: 3px;
  color: black;

}

.tools {
  display: flex;
  width: 100%;
}

.annee select {
  width: 150px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid var(--button-color);
}


/*************/
.h-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(30% - 5px);
  /* Adjust the width to show 4 cards per row */
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  background-color: white;
  height: 150px;
  /* Adjust the height */

  /***************/
}

#icon-card {
  font-size: 3rem !important;
  color: #b9d6f2;
  background-color: #003559;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 15px;
}

.h-card-content {
  padding: 10px;
  margin-left: 8px;
  flex: 1;
  /* Adjust the size of the content area */
}

.h-card-title {
  font-size: 1.6rem;
  font-weight: bold;

  margin-bottom: 15px;
  margin-top: 0px;
}

.h-card-text {

  margin-bottom: 5px;
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: black;
}

.h-p-card {
  margin-bottom: 3px;
  color: black;
}

.p-card {
  margin-left: 40%;
  font-size: 18px;
  margin-top: 15px;
  color: rgb(75, 74, 74);

}

/************/
.error-message {
  color: rgba(255, 0, 0, 0.637);
  font-size: 12px;
  /* Adjust font size as needed */
  margin-top: 5px;
  /* Add some space between the input field and error message */
  font-weight: bold;
}

.hover-effect {
  cursor: pointer;
  /* Add cursor pointer */
  transition: color 0.3s ease;
}

.hover-effect:hover {
  color: var(--secondary-color);/
}

.h-card {
  transition: transform 0.3s ease;
}

.h-card:hover {
  transform: scale(1.05);

}

.v-card {
  transition: transform 0.3s ease;
}

.v-card:hover {
  transform: scale(1.05);

}

/**********************/
@media (max-width: 992px) {
  .v-card {
    flex: 0 0 calc(25% - 0px);
  }

  .h-card {
    width: calc(45% - 0px);
  }
}

@media (max-width: 768px) {
  .v-card {
    flex: 0 0 calc(50% - 30px);
  }

  .h-card {
    width: calc(100% - 5px);
  }

  .btn-ajouter {
    padding: 7px 40px;
    margin-top: 30px;
    width: 100%;
  }

  .titre-ajouter {
    margin-bottom: 30px;
    margin-top: 0px;
    align-self: center;
    font-size: 25px;
  }
}